.posts{
    display: flex;
    flex-direction: column;
    margin-right:30px
    
}
@media(max-width:1023px){
    .posts{
        margin-right: 40px;
        margin-left: 40px;
        width: 100%;
    }
}