.posts{
    display: flex;
    flex-direction: column;
    margin-right:0px
    
}
@media(max-width:1023px){
    .posts{
        display: flex;
        flex-direction: column;
        // margin-right: 40px;
        margin-left: 40px;
        width: 100%;
    }
}
@media(max-width:600px){
    .posts{
        margin-right: 40px;
        margin-left: 40px;  
        width: 100%;
    }
}