@import "../../style.scss";

.comments{
    @include themify($themes){
        img{
            width: 40px;
            height:40px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 12px;
        }
        .write{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0px;
            gap: 20px;
            input{
                width: 100%;
                padding: 8px;
                border: 1px solid themed("border");
                background-color: transparent;
                color: themed("textColor");
                border-radius: 3px;
            }
            img{
                margin-top: 0px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            button{
                border: none;
                background-color: rgb(82, 82, 210);
                padding: 8px;
                border-radius: 3px;
                cursor: pointer;
                color: white;
                &:hover {
                background: themed("buttonHover");
                transform: translateY(-1px);
                box-shadow:
                    2px 2px 5px rgba(0, 0, 0, 0.2),
                    -2px -2px 5px themed("upbg");
                }
            }
        }

        .comment{
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .info{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;
                span{
                    font-weight:500;
                }
    
                p{
                    color: themed("textColor");
                    font-size: small;
                }

            }


            .date{
                flex:1;
                align-self: center;
                color: gray;
                font-size: smaller;
            }
        }
    }
}