@import "../../style.scss";

.chatmain {
  @include themify($themes) {
    width: 80%;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid rgba(180,180,180,.25);
    border-radius: 10px;
    // height: 100000px;
    margin: 10px;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: themed("hoverBg");
    }

    .chatuserinfo {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid themed("border");
      }

      .chatuserdetails {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        gap: 1px;
        min-width: 0; // IMPORTANT for text ellipsis

        .chatname {
          font-size: 15px;
          font-weight: 600;
          color: themed("textColor");
          line-height: 1.6;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .chatusername {
          font-size: 10px;
          color: themed("textColorSoft");
          white-space: nowrap;
        //   margin: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .chatuserbio {
          font-size: 12px;
          color: themed("textColorSoft");
          margin-top: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
