.create{
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    max-width: 700px;
    // background: themed("bg");
    // margin: 20px;
    // margin-left: 10px;
    // color: themed("textColor");
    // border: 1px solid rgba(180, 180, 180, 0.25);
    // border-radius: 14px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    // transition: all 0.25s ease;
    // overflow: hidden;

}
.inner{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(180, 180, 180, 0.25);
    border-radius: 14px;
    padding: 20px;
    gap: 20px;
}
/* Background blur & dark overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);  /* BLURS BACKGROUND */
  background: rgba(0,0,0,0.4); /* DARK TRANSPARENT BACKGROUND */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Center modal box */
.modal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  z-index: 1100;
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Textarea styling */
textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Buttons */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.create_button, .submit-btn {
  padding: 8px 15px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.actions button {
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

@media(max-width:1023px){
    .create{
        margin-right: 40px;
        margin-left: 40px;
        width: 96%;
    }
}