.availableusers{
    display: flex;
    flex-direction: column;
    margin-right:0px;
    max-width: 650px;
    margin-top: 25px;
    height: 100%;
    
    
}
@media(max-width:1023px){
    .availableusers{
        display: flex;
        flex-direction: column;
        // margin-right: 40px;
        margin-left: 40px;
        width: 100%;
    }
}
@media(max-width:600px){
    .availableusers{
        margin-right: 40px;
        margin-left: 40px;  
        width: 100%;
    }
}