.messagemain {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &.mine {
    align-items: flex-end;

    .messagepart {
      background-color: #4f46e5;
      color: #fff;
      border-radius: 16px 16px 4px 16px;
    }
  }

  &.received {
    align-items: flex-start;

    .messagepart {
      background-color: #92afea;
      color: #111827;
      border-radius: 16px 16px 16px 4px;
    }
  }

  .messagepart {
    max-width: 65%;
    min-width: 10%;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    span{
      white-space: pre-wrap;
      line-height: 1.45;
    }

    .text {
      font-size: 14px;
      line-height: auto;
    }

    .time {
      font-size: 11px;
      align-self: flex-end;
      opacity: 0.7;
    }
  }

  .status {
    font-size: 11px;
    margin-top: 2px;
    color: #6b7280;
  }
}
