@import "../../style.scss";

.rightchat {
  @include themify($themes) {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: themed("bg");
    height: 100%;
    overflow: hidden;

    

    &.empty {
      justify-content: center;
      align-items: center;
      color: themed("textColorSoft");
      font-size: 16px;
    }

    /* ================= HEADER ================= */
    .chatHeader {
      height: 60px;
      padding: 10px 16px;
      border-bottom: 1px solid themed("border");
      display: flex;
      align-items: center;
      background-color: themed("containerbg");

      .chatHeaderLeft {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          object-fit: cover;
        }

        .chatHeaderInfo {
          display: flex;
          flex-direction: column;

          .username {
            font-size: 15px;
            font-weight: 600;
            color: themed("textColor");
          }

          .status {
            font-size: 12px;
            color: themed("textColorSoft");
          }
        }
      }
    }

    /* ================= MESSAGES ================= */
    .chatMessages {
      flex: 1;
      padding: 14px;
      overflow-y: auto;
      background-color: themed("bg");

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: themed("border");
        border-radius: 10px;
      }
    }

    /* ================= INPUT ================= */
    .chatInput {
      height: 60px;
      padding: 10px 16px;
      border-top: 1px solid themed("border");
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: themed("containerbg");

      .messageInput{
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        background: transparent;
        color: themed("textColor");
        font-size: 14px;
        line-height: 1.4;
        &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: themed("border");
        border-radius: 10px;
      }
      }

      textarea {
        flex: 1;
        height: 38px;
        padding: 0 12px;
        border-radius: 20px;
        border: 1px solid themed("border");
        outline: none;
        font-size: 14px;
        background-color: themed("bg");
        color: themed("textColor");

        &::placeholder {
          color: themed("textColorSoft");
        }
      }

      button {
        height: 35px;
        padding: 0 18px;
        border-radius: 20px;
        border: 1px solid themed("border");
        background-color: themed("bg");
        color: themed("textColorSoft");
        font-size: 14px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
